<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <title>Document</title>
</head>

<body>

    <div id="root" style="padding: 2%">
        <h1 style="float: left">News App</h1>
        <button style="float: right" v-on:click="close()" class="circular ui icon button red">
            <i class="close icon"></i>
        </button>
        <br style="clear: both;" />
        <hr />
        <div v-if="isInDepthView == false">
            <div v-for="(item, index) in seznam" style="float:left; width: 47%; margin: 10px;">
                <div v-on:click="showSingle(index)" class="ui card" style="width: 100%;">
                    <div class="image">
                        <img style="height: 30vh"
                            v-bind:src="item['urlToImage'] != null ? item['urlToImage'] : 'https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2c2e3136-022c-4c0a-ad02-38c7398607dd/d5qvsdn-adaf7078-a957-4d20-90f6-1a763f488d50.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJjMmUzMTM2LTAyMmMtNGMwYS1hZDAyLTM4YzczOTg2MDdkZFwvZDVxdnNkbi1hZGFmNzA3OC1hOTU3LTRkMjAtOTBmNi0xYTc2M2Y0ODhkNTAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DS6p0W9Z-AKb88eV0by09PLu4MYDeOg7jzJthhMJ6Ls'">
                    </div>
                    <div class="content">
                        <a class="header" style="white-space: nowrap; overflow: hidden;">{{ item["title"] }}</a>
                        <div class="meta">
                            <span class="date">{{ item["author"] != null ? item["author"] : 'NI KEKCA' }}</span>
                        </div>
                        <div class="description">
                            {{ item["publishedAt"] | formatDate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <iframe style="width: 100%; height: 80vh" v-bind:src="seznam[singleIndex]['url']">
                <p>Your browser does not support iframes.</p>
            </iframe>
        </div>
    </div>

    <script>
        const moment = require('moment');
        const { ipcRenderer } = require('electron');

        document.addEventListener("DOMContentLoaded", function () {
            new Vue({
                el: "#root",
                data: () => ({
                    seznam: [],
                    singleIndex: null,
                    isInDepthView: false
                }),
                created: function () {
                    var url = 'https://newsapi.org/v2/top-headlines?' +
                        'country=us&' +
                        'apiKey=2e7d21c97e3b48a2ae3958005423c735';
                    var req = new Request(url);
                    fetch(req)
                        .then(res => res.json())
                        .then(result => {
                            this.seznam = result.articles;
                            console.log(result);
                        })
                },
                filters: {
                    formatDate: function (value) {
                        return moment(value).format("MMMM Do YYYY");
                    }
                },
                methods: {
                    close() {
                        ipcRenderer.send('request-app-close');
                    },
                    showSingle(index) {
                        this.isInDepthView = true;
                        this.singleIndex = index;
                    }
                }
            });
        });
    </script>
</body>

</html>